{% extends 'navbar.html' %}
{% block title %} Home
{% endblock title %} Home
{% block body %}
 
  </head>
  <body>
    
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/p1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1 style="color: black;font-size: 3rem; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">GIRIRAJ GROUP</h1>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
        </div>
      </div>




<div class="pcard row" style=" justify-content: center; " >

  <!-- First partner -->
  <div class="container-fluid m-5" style="width: 45%; display: flex; justify-content: center; ">
    <div class="card" style="width: 25rem;  text-align: center;">
      <img src="/static/img/person3.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-primary">Partners</h5>
        <p class="fw-bolder fs-3 ">Veerendra Giri Goswami</p>
        <p>Age_num</p>
        <p class="card-text">ipsum dolor sit amesumenda ad, labore asperiores ducimus?</p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>

  <!-- Second partner -->
  <div class="contaner m-3" style="width: 45%;  display: flex; justify-content: center; align-items: center; ">
    <div class="card" style="width: 25rem;text-align: center;">
      <img src="/static/img/person3.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-primary">Partners</h5>
        <p class="fw-bolder fs-3 ">Arjun Singh Rajput</p>
        <p>Age_num</p>
        <p class="card-text">In this we see the Information about this person</p>
        
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div>









<div class="card-group m-3" >
      <div class="card m-5" style="width: 50%; ">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/1600x900/?nature,water1" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" >
              <h5 class="card-title fw-bold" style="color: rgb(6, 150, 207);">Giriraj bharat Gas</h5>
              <p class="card-text" style="color: black;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="/Giriraj_bharat_Gas">Read more</a>
           </div>
          </div>
        </div>
      </div>
      <div class="card m-5" style="width: 50%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/1600x900/?nature,water2" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold" style="color: rgb(6, 150, 207);">Giriraj Associates</h5>
              <p class="card-text" style="color: black;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="">Read more</a>
            </div>
          </div>
        </div>
      </div>
</div>


<div class="card-group m-3">
    <div class="card m-5" style="width: 50%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/1600x900/?nature,water3" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold" style="color: mediumturquoise;">GIRIRAJ Builders & developers</h5>
              <p class="card-text" style="color: rgb(102, 99, 99);">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <a href="">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card m-5" style="width: 50%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/1600x900/?nature,water4" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-bold" style="color: blueviolet;">GIRIRAJ TRADERS</h5>
              <p class="card-text" style="color: brown;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="">Read more</a>
            </div>
          </div>
        </div>
      </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

   
  </body>
{% endblock body %}
