 {% extends 'navbar.html' %}
 {% block title %} Login
 {% endblock title %}
{% block body %} 
<div class="contaner" style="position:absolute;top:40%;left:50%; transform:translate(-50%,-50%); border: solid rgb(248, 133, 1) 2px; padding: 3rem; border-radius: 30%; width: 30%;" >
<form action="{% url 'login' %}" method="POST" style="align-items: center; text-align: center;">
  {% csrf_token %}
  <h1 style="color: rgb(243, 163, 14); padding: 12px;">Login</h1>
      <div class="txt_field">
  <h3 style="color: wheat;">Name</h3>
  <input type="text" name="Name" style=" size: 35rem;margin: 1rem; width: 100%;" >
</div>
<div class="txt_field">
  <h3 style="color: wheat;">Password</h3>
  <input type="text" name="Password" style=" size: 35rem;margin: 1rem; width: 100%;" >
</div>
<a href="">forgot password</a>
<button type="Submit" class="btn btn-success">Success</button>
</form>
</div>
{% endblock body %}